.DS_Store
secret/
_bin/subl
.git_cache_meta

_vim/.netrwhist
_oh-my-zsh

# Sublime Text
subl*/*.cache
subl*/Package Control.last-run
subl*/Package Control.system-ca-bundle
subl*/Gist.sublime-settings
subl*/Side Bar Folders.sublime-settings
subl*/Side Bar Folders/
subl*/.SublimeREPLHistory
