[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "_vim/bundle/vim-powerline"]
	path = _vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_bin/geeknote"]
	path = _bin/geeknote
	url = git://github.com/VitaliyRodnenko/geeknote.git
[submodule "fonts/monaco-powerline-vim"]
	path = fonts/monaco-powerline-vim
	url = https://github.com/fromonesrc/monaco-powerline-vim.git
[submodule "fonts/consolas-powerline-vim"]
	path = fonts/consolas-powerline-vim
	url = https://github.com/eugeneching/consolas-powerline-vim.git
